---
import Layout from '../layouts/Layout.astro'
import Header from '@/components/Header.astro'

import { cn } from '@/lib/utils'
import Container from '@/components/Container.astro'

import Link from '@/components/Link.astro'
---

<Layout>
  <style>
    .gradient-overlay {
      background: radial-gradient(
        at 00% 00%,
        rgb(30, 144, 255) 0px,
        transparent 50%
      );
    }
  </style>

  {/*radial-gradient(at 100% 10%, rgb(251, 126, 60) 0px, transparent 50%);*/}

  <div
    class="gradient-overlay absolute bottom-0 left-0 right-0 top-0 -z-10 h-screen w-full opacity-15 blur-[100px]"
  >
  </div>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 -z-10 h-screen w-full bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:40px_40px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_50%,transparent_100%)] md:bg-[size:50px_50px] lg:bg-[size:70px_70px]"
  >
  </div>
  <Header />
  <Container class="flex flex-col items-start px-4 py-16 lg:py-20">
    <h1
      class="mb-2 inline justify-center bg-gradient-to-b from-foreground via-foreground/90 to-foreground/50 to-90% bg-clip-text pb-2 font-calsans text-4xl font-bold text-transparent sm:mt-14 sm:text-5xl"
      style="opacity: 1; will-change: transform; transform: none;"
    >
      About Me
    </h1>
    <p class="mb-4 pr-0 text-muted-foreground md:text-xl">
      Hi! I’m <span class="text-foreground">Emil</span>, a 17-year-old
      programmer and second-year IT student at Charlottenlund VGS. I also live
      in <span class="text-foreground">Trondheim</span>, Norway
    </p>

    <p class="mb-4 pr-0 text-muted-foreground md:text-xl">
      I don't remember my first experience with programming, but I do know it
      didn't stick.
    </p>

    <p class="mb-4 pr-0 text-muted-foreground md:text-xl">
      A couple of years ago, I stumbled upon Harvard's <span
        class="text-foreground">legendary</span
      > online CS50x course. And I decided to dive in. From the very first problem
      set, I was <span class="text-foreground">hooked</span>. The <span
        class="text-foreground">rush</span
      > of getting lost in a problem became my new <span class="text-foreground"
        >obsession</span
      >.
    </p>
    <p class="mb-4 pr-0 text-muted-foreground md:text-xl">
      While ago, I wiped my computer and installed Linux. Before I knew it, I
      had <span class="text-foreground">*seven*</span> Linux-powered machines scattered
      around. All running <span class="text-foreground">NixOS</span>—the distro
      where everything is configured with infrastructure as code. A year later,
      I checked and had over <span class="text-foreground">10,000</span> lines of
      configuration. Guess I got <span class="text-foreground"
        >carried away!</span
      >
    </p>

    <p class="mb-4 pr-0 text-muted-foreground md:text-xl">
      I've came to <span class="text-foreground">Love</span> the <span
        class="text-foreground">Terminal.</span
      > I'm using Neovim, Tmux and configure the hell out of them. Spending my <span
        class="text-foreground"
        >spare time
      </span>
      either programming, tinkering or maybe watching an programming related video.
    </p>

    <p class="mb-4 pr-0 text-muted-foreground md:text-xl">
      Right now I'm currently looking for an 2 year apprentice opportunity as
      part of my school program. Feel free to contact me if interested. (HERE
      todo)
    </p>
  </Container></Layout
>
