---
import Layout from '../layouts/Layout.astro'
---

<Layout
  >hello

  <style>
    .gradient-overlay {
      background: radial-gradient(
          at 00% 00%,
          rgb(30, 144, 255) 0px,
          transparent 50%
        ),
        radial-gradient(at 90% 10%, rgb(251, 126, 80) 0px, transparent 50%);
    }
    /*.fontie {*/
    /*  font-family: 'CalSans';*/
    /*}*/
    html {
      -moz-osx-font-smoothing: grayscale !important;
      -webkit-font-smoothing: antialiased !important;
      font-smoothing: antialiased !important;
    }
  </style>
  <div
    class="gradient-overlay absolute bottom-0 left-0 right-0 top-0 -z-10 h-screen w-full opacity-10 blur-[100px]"
  >
  </div>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 -z-10 h-screen w-full bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:40px_40px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_50%,transparent_100%)] md:bg-[size:50px_50px] lg:bg-[size:70px_70px]"
  >
  </div>
</Layout>
