---
import Layout from '../layouts/Layout.astro'
import Header from '@/components/Header.astro'

import { cn } from '@/lib/utils'
import Container from '@/components/Container.astro'

import Link from '@/components/Link.astro'
---

<Layout>
  <style>
    .gradient-overlay {
      background: radial-gradient(
          at 00% 00%,
          rgb(30, 144, 255) 0px,
          transparent 50%
        ),
        radial-gradient(at 100% 10%, rgb(251, 126, 60) 0px, transparent 50%);
    }
  </style>
  <div
    class="gradient-overlay absolute bottom-0 left-0 right-0 top-0 -z-10 h-screen w-full opacity-15 blur-[100px]"
  >
  </div>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 -z-10 h-screen w-full bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:40px_40px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_50%,transparent_100%)] md:bg-[size:50px_50px] lg:bg-[size:70px_70px]"
  >
  </div>
  <Header />
  <Container class="flex flex-col items-start px-4 py-16 lg:py-20">
    <h1
      class="sm:mt-20 inline justify-center gap-1 bg-gradient-to-b from-foreground via-foreground/90 to-foreground/50 to-90% bg-clip-text pb-2 font-calsans text-4xl sm:text-5xl font-bold text-transparent"
      style="opacity: 1; will-change: transform; transform: none;"
    >
      About Me
    </h1>
    <p class="pr-0 text-muted-foreground md:text-xl">
      Hi! I’m Emil, a 17-year-old programmer and second-year IT student at
      Charlottenlund VGS. I started taking programming more seriously around two
      years ago with Harvard's online CS50x course, it was a turning point with
      the rush of fully immersing myself in a problem.
    </p>
    <br />

    <p class="pr-0 text-muted-foreground md:text-xl">
      Hi! I’m Emil, a 17-year-old programmer and second-year IT student at
      Charlottenlund VGS. I started taking programming more seriously around two
      years ago with Harvard's online CS50x course, it was a turning point with
      the rush of fully immersing myself in a problem.
    </p>
  </Container>
</Layout>
