---
import Layout from '../layouts/Layout.astro'

import Container from '@/components/Container.astro'
import Projects from '@/components/Projects.astro'
import Header from '@/components/Header.astro'
import Link from '@/components/Link.astro'

import Luadec from '@/components/ui/LuadecCard.astro'
import Godot from '@/components/ui/GodotCard.astro'
import Firefox from '@/components/ui/FirefoxCard.astro'
import { buttonVariants } from '@/components/ui/button'
import { Card } from '@/components/ui/card'
import { cn } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import Arbeidstilsynet from '@/components/ui/Arbeidstilsynet.astro'
import Kantega from '@/components/ui/Kantega.astro'
import Vegvesenet from '@/components/ui/Vegvesenet.astro'
import NTNU from '@/components/ui/NTNU.astro'
import Nordics from '@/components/ui/Nordics.astro'
import Nordic from '@/components/ui/Nordic.astro'
import VR from '@/components/ui/VR.astro'
import Veg from '@/components/ui/Veg.astro'
import Labour from '@/components/ui/Labour.astro'
---

<Layout>
  <style>
    .gradient-overlay {
      background: radial-gradient(
          at 00% 00%,
          rgb(30, 144, 255) 0px,
          transparent 50%
        ),
        radial-gradient(at 100% 10%, rgb(255, 126, 60) 0px, transparent 50%);
    }
  </style>
  <div
    class="gradient-overlay absolute bottom-0 left-0 right-0 top-0 -z-10 h-screen w-full opacity-15 blur-[100px]"
  >
  </div>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 -z-10 h-screen w-full bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:40px_40px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_50%,transparent_100%)] md:bg-[size:50px_50px] lg:bg-[size:70px_70px]"
  >
  </div>
  <Header />
  <Container class="h-max flex flex-col items-start px-4 py-16 lg:py-20">
    <div class="rellax mb-2 mt-10 sm:mt-24" data-rellax-speed="-2">
      <h1
        class="fontie motion-preset-blur-right inline-block justify-center gap-1 bg-gradient-to-b from-foreground via-foreground/90 to-foreground/60 to-90% bg-clip-text pb-2 font-calsans text-4xl font-bold text-transparent sm:text-6xl"
      >
        Hi, I'm <span class="text-orange-400">Emil Nordgård</span><br />
        Software Developer
      </h1>
      <p class="pr-0 text-muted-foreground md:text-xl lg:pr-96">
        Passionate, loves coding, linux and picking up languages as fast as i
        can. And lorum ipsum dolor sit a
        <a class="text-orange-300 underline hover:text-orange-200" href="/about"
          >More about me</a
        >.
      </p>
    </div>
    <div class="mt-8 flex flex-row gap-2 mb-10">
      <Link
        href="/about"
        class={cn(buttonVariants({ variant: 'outline' }), '')}
      >
        Contact
      </Link>
    </div>

    <div
      class="rellax mt-10 flex flex-col gap-8"
      data-rellax-speed="2"
      data-rellax-percentage="0.9"
    >
    </div>

    <div
      class="rellax flex flex-col gap-8"
      data-rellax-speed="7"
      data-rellax-percentage="0.5"
    >
      <div class="rellax" data-rellax-percentage="0.6" data-rellax-speed="0.5">
        <h1 class="pr-0 font-calsans text-4xl text-muted-foreground lg:pr-96">
          What I've been working on
        </h1>
      </div>
      <Luadec />
      <Godot />
      <Firefox />
    </div>

    <h1 class="mb-8 pr-0 font-calsans text-4xl text-muted-foreground lg:pr-96">
      Experience
    </h1>

    <div class="flex gap-8 flex-col">
      <Nordic />
      <VR />
      <Kantega />
      <Veg />
      <Labour />
    </div>

    <h1
      class="mb-8a mt-8 pr-0 font-calsans text-4xl text-muted-foreground lg:pr-96"
    >
      I have a <span class="text-foreground">some</span> skills
    </h1>
    <div class=""></div>
  </Container>
  <div
    aria-hidden="true"
    class="pointer-events-none fixed inset-x-0 bottom-0 z-10 h-16 bg-gradient-to-b from-transparent to-[#eee] dark:bg-gradient-to-b dark:from-transparent dark:to-background"
  >
  </div>
</Layout>
