---
import { cn } from '@/lib/utils'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={cn('mx-auto flex w-full flex-col px-4 max-w-5xl', className)}>
  <slot />
</div>
