---
import { Code } from 'astro:components'
import { Badge } from '@/components/ui/badge'
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'

import { Image } from 'astro:assets'
---

<Card
  className="  transition-colors duration-200 hover:bg-secondary/20 w-full p-4 flex flex-col md:flex-row"
>
  <div class="flex w-full sm:w-1/2 flex-col">
    <CardHeader>
      <CardTitle
        className="bg-gradient-to-b from-foreground via-foreground/90 to-foreground/70 to-90% bg-clip-text font-calsans text-4xl font-bold text-transparent sm:text-4xl"
        >MechaTonic</CardTitle
      >
      <CardDescription className="text-base text-foreground"
        >I promise the reason it looks like that ain't my fault.</CardDescription
      >
    </CardHeader>
    <CardContent className="text-muted-foreground">
      <p>
        Mechatonic, a 2d-platformer part of a school project. I was the programmer. It was a group project. But in many ways, It wasn't. The highlight of the project would be the movement system. With a combination of elaborate shaping functions and an unique momentum based take on the dash mechanic.
      </p>
    </CardContent>
    <CardFooter className="flex flex-col flex-grow items-start">
      <p class="mb-2">More about it HERE</p>

      <div class="mt-auto flex gap-2">
        <Badge className="" variant="outline" size="lg"> Gdscript </Badge>
        <Badge className="" variant="outline" size="lg"> Godot </Badge>
        <Badge className="" variant="outline" size="lg"> Python </Badge>
      </div>
    </CardFooter>
  </div>
  <div class="sm:w-1/2">
    <CardContent className="p-0 py-6">
    </CardContent>
  </div>
</Card>
