---
import { Code } from 'astro:components'
import { Badge } from '@/components/ui/badge'
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'

import { Image } from 'astro:assets'
---

<Card
  className="transition-colors duration-200 hover:bg-secondary/20 w-full p-4 flex flex-col md:flex-row"
>
  <div class="flex w-full sm:w-1/2 flex-col">
    <CardHeader>
      <CardTitle
        className="bg-gradient-to-b from-foreground via-foreground/90 to-foreground/70 to-90% bg-clip-text font-calsans text-4xl font-bold text-transparent sm:text-4xl"
        >Luadec</CardTitle
      >
      <CardDescription className="text-base text-foreground"
        >Declarative configuration system using lua</CardDescription
      >
    </CardHeader>
    <CardContent className="text-muted-foreground">
      <p>
        {
          /*Inspired by Nix but aiming to break its limitations, Luadec les you */
        }
        I created Luadec to scratch my itch for a better way to configure Linux.
        Luadec lets you manage packages with any manager, generate files declaratively,
        and even add templating — all powered by Lua + Rust.
      </p>
    </CardContent>
    <CardFooter className="flex flex-col flex-grow items-start">
      <p class="mb-2">More about it HERE</p>

      <div class="mt-auto flex gap-2">
        <Badge className="" variant="outline" size="lg"> Rust </Badge>
        <Badge className="" variant="outline" size="lg"> Lua </Badge>
      </div>
    </CardFooter>
  </div>
  <div class="sm:w-1/2">
    <CardContent className="p-0 py-6">
      <Code
        class="rounded-lg border border-border p-2"
        code={`local luadec = require 'luadec'

luadec.add_manager({
  name = "Debian",
  add = "sudo apt install #:?",
})

luadec.packages("Debian", {
  "neovim",
  "firefox",
})
-- and much more
`}
        lang="lua"
        theme="material-theme-ocean"
      />
    </CardContent>
  </div>
</Card>
