---
import { Code } from 'astro:components'
import { Badge } from '@/components/ui/badge'

import logo from '../../assets/Statens_vegvesen_logo.png'
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'

import { Image } from 'astro:assets'
---

<Card
  className="  transition-colors duration-200 hover:bg-secondary/20 w-full flex flex-row "
>
  <div class="flex w-full sm:flex-row flex-col">
    <div class="flex flex-col sm:w-1/2">
      <CardHeader>
        <CardTitle
          className="bg-gradient-to-b from-foreground via-foreground/90 to-foreground/70 to-90% bg-clip-text font-calsans text-4xl font-bold text-transparent "
          >Vegvesenet</CardTitle
        >

        <CardDescription className="text-base text-foreground">
          March, 2024, 1 Week, Type: Placement
        </CardDescription>
      </CardHeader>
      <CardContent className="text-base text-muted-foreground">
        Analyzed geodata for toll booths across Norway, identifying the amount
        by which the old and new toll systems disagreed on the toll rate or
        amount to be paid. Then showing all the locations where there are
        discrepencies.
      </CardContent>
    </div>

    <div
      class="bg-foreground rounded-lg p-4 flex sm:w-1/2 justify-end items-center"
    >
      <Image class="" src={logo} alt="A bird sitting on a nest of eggs." />
    </div>
  </div>
</Card>
